@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
}

.navbar {
  /* background: #131313; */
  background: rgba(15, 15, 15, 0.7);
  padding: 1rem 8rem;
  overflow: hidden;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.nav-link {
  text-transform: uppercase;
}

#navbarSupportedContent ul li:nth-child(n) a {
  color: white;
  font-size: 1rem;
  padding: 0 0.7rem;
}

#navbarSupportedContent ul li:nth-child(n) a:hover {
  color: #30475E;
}

/* Banner  */
.banner {
  position: relative;
  max-width: 100%;
  height: 143vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  object-fit: cover;
} */

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.banner .content h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  /* white-space: nowrap; */
}

.banner .content p {
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
}

.btn {
  border-radius: 5px;
  background-color: orange;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  color: black;
  font-weight: 500;
}
.bottom-box{
  text-align: center;
  position: relative;
  top: 50vh;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.link-text{
  top: 20rem;
  color: white;
  font-size: 1vw;
  font-weight: bold;
}

.link-icon{
  margin-top: 0vh;
}

.games {
  position: relative;
  background-color:black;
}

.game {
  position: relative;
  margin-top: 0;
  height: 100%;
  display: flex;
}

.title {
  margin-top: 15rem;
  margin-left: 10rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slide {
  margin-left: 150px;
  padding-bottom: 70px;
}

.contentfeat {
  position: relative;
  max-width: 100%;
  top: -17vh;
  /* left: 27vh; */
  /* text-align: center; */
  /* margin-left: 400px;
  margin-top: -150px; */
}
.features {
  position: relative;
  width: 100%;
  /* height: 990px; */
  /* height: 150vh; */
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* .features img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  object-fit: cover;
} */
.features .contentfeat h6 {
  color: white;
  position: relative;
  left: 56vw;
  white-space: nowrap;
}
.features .contentfeat h1 {
  color: white;
  position: relative;
  left: 56vw;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
}
/* .contentfeat2 {
  margin-top: 30px;
} */
.contentfeat2 {
  position: relative;
}
.feat1 {
  position: relative;
  margin-top: 30vh;
  left: 40vw;
  color: orange;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  font-weight: 500;
}
.feat2 {
  left: 40vw;
  position: relative;
  color: white;
  font-weight: normal;
}
.suit {
  left: 40vw;
  position: relative;
  top: 1.4vw;
  color: orange;
  text-transform: uppercase;
}
.tbd {
  left: 40vw;
  position: relative;
  top: 3vw;
  color: orange;
  text-transform: uppercase;

}
.requirements {
  position: relative;
  width: 100%;
  height: 130vh;
  top: 0;
}
#requirements-grid {
  display: grid;
  width: 100%;
  color: white;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 30%;
  
}
.requirements-sys {
  margin-top: 80vh;
  margin-left: 10vh;
}
#title-sys {
  margin-top: -60vh;
}
.item {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
#topscore-img {
  width: 100%;
  height: 100vh;
  background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
}

/* Image */
#banner-img {
  background-image: url(assets/assets/main-bg.jpg);
  background-size: cover;
}
#games-img {
  background-image: url(assets/assets/the-games-bg.jpg);
  background-size: cover;
}
#features-img {
  background-image: url(assets/assets/features.jpg);
  background-size: cover;
}
#requirements-img {
  background-image: url(assets/assets/requirements.png);
  background-size: cover;
}
#topscore-img {
  background-image: url(assets/assets/top-score-bg.png);
  background-size: cover;
}

.icons {
  position: relative;
}
.circle-icon {
  position: relative;
  left: 43vw;
  top: 8vh;
  width: 0.8vw;
  height: 0.8vw;
}
.vertical-line {
  position: relative;
  left: 40.1vw;
  top: 14vh;
  width: 5vw;
}
.circle-icon2 {
  position: relative;
  left: 37.2vw;
  top: 19.8vh;
  width: 0.8vw;
  height: 0.8vw;
}
.circle-icon3 {
  position: relative;
  left: 36.5vw;
  top: 26.5vh;
  width: 0.8vw;
  height: 0.8vw;
}

/* Mobile Ver */ 
 @media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .title {
    margin-top: 200px;
    margin-left: 2rem;
    text-transform: uppercase;
  }

  .banner {
    width: 100%;
  }

  .games {
    width: 100;
  }

  .features {
    width: 100%;
  }

  .contentfeat {
    position: absolute;
    max-width: 100%;
    /* text-align: center; */
    margin-left: 400px;
    margin-top: -150px;
    
  }
  .features .contentfeat h6 {
    color: white;
    margin-right: 350px;
    white-space: nowrap;
  }
  .features .contentfeat h1 {
    color: white;
    margin-right: 330px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
  }
  .contentfeat2 h6 {
    left: 20rem;
  }
  .contentfeat2 p {
    left: 10rem;
  }
}