@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

/* Navbar */

.navbar {
  background: rgba(15, 15, 15, 0.7);
  padding: 1rem 8rem;
  overflow: hidden;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.nav-link {
  text-transform: uppercase;
}

#navbarSupportedContent ul li:nth-child(n) a {
  color: white;
  font-size: 1rem;
  padding: 0 0.7rem;
}

#navbarSupportedContent ul li:nth-child(n) a:hover {
  color: #30475E;
}
/* Akhir Navbar */

/* Banner  */
.banner {
  position: relative;
  max-width: 100%;
  height: 143vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.banner .content h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}

.banner .content p {
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
}

.btn {
  border-radius: 5px;
  background-color: orange;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  color: black;
  font-weight: 500;
}
.bottom-box{
  text-align: center;
  position: relative;
  top: 50vh;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.link-text{
  top: 20rem;
  color: white;
  font-size: 1vw;
  font-weight: bold;
}

.link-icon{
  margin-top: 0vh;
}
/* Akhir Banner */

/* Game */
.games {
  position: relative;
  background-color: aqua;
}

.game {
  position: relative;
  margin-top: 0;
  height: 100%;
  display: flex;
}

.title {
  margin-top: 15rem;
  margin-left: 10rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slide {
  margin-left: 150px;
  padding-bottom: 70px;
}
/* Akhir Game */

/* Features */
.contentfeat {
  position: relative;
  max-width: 100%;
  top: -17vh;
  left: 27vh; 
}
.features {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.features .contentfeat h6 {
  font-size: 1vw;
  letter-spacing: 0.2rem;
  font-weight: 100;
  color: white;
  position: relative;
  left: 56vw;
  white-space: nowrap;
}
.features .contentfeat h1 {
  color: white;
  position: relative;
  left: 56vw;
  letter-spacing: 0.3vw;
  text-transform: uppercase;
  font-weight: 400;
}
.contentfeat2 {
  position: relative;
}
.feat1 {
  position: relative;
  margin-top: 30vh;
  left: 40vw;
  color: orange;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  font-weight: 500;
}
.feat2 {
  left: 40vw;
  width: 20vw;
  position: relative;
  color: white;
  font-weight: normal;
}
.suit {
  left: 40vw;
  position: relative;
  top: 1.2vh;
  color: orange;
  text-transform: uppercase;
}
.tbd {
  left: 40vw;
  position: relative;
  top: 4vh;
  color: orange;
  text-transform: uppercase;

}
.icons {
  position: relative;
}
.circle-icon {
  position: relative;
  left: 43vw;
  top: 8vh;
  width: 0.8vw;
  height: 0.8vw;
}
.vertical-line {
  position: relative;
  left: 40.1vw;
  top: 14vh;
  width: 5vw;
}
.circle-icon2 {
  position: relative;
  left: 37.2vw;
  top: 19.8vh;
  width: 0.8vw;
  height: 0.8vw;
}
.circle-icon3 {
  position: relative;
  left: 36.5vw;
  top: 26.5vh;
  width: 0.8vw;
  height: 0.8vw;
}
/* Akhir Features */

/* Requirements */

.requirements {
  position: relative;
  width: 100%;
  height: 100vh;
}
.text-sys {
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 3.2vw;
  top: 33vh;
  letter-spacing: 0.3rem;
}
.text-sys2 {
  position: relative;
  color: white;
  font-size: 1vw;
  font-weight: 100;
  padding-left: 35vw;
  padding-top: 14vh;
  letter-spacing: 0.2rem;
}
#requirement-grid {
  background-color: transparent;
  color: white;
  position: relative;
  top: 20vh;
  left: 1vw;
}
/* Akhir Requirements */

/* Top Score */

#topscore-img {
  width: 100%;
  height: 110vh;
  position: relative;
  background-color: black;
}
.title-top {
  position: relative;
  color: white;
}
.subtitle-top {
  position: relative;
  text-transform: uppercase;
  top: 32vh;
  left: 10vw;
  font-size: 3.6vw;
  font-style: normal;
  letter-spacing: 0.3vw;
}
.title-top p {
  position: relative;
  width: 31vw;
  top: 35vh;
  padding-left: 10.4vw;
}
.title-top a {
  position: relative;
  top: 37vh;
}
.btn-see {
  position: relative;
  width: 15vw;
  height: 7vh;
  left: 10vw;
  text-align: center;
  text-transform: lowercase;
}
.btn-see span {
  position: relative;
  top: 0.8vh;
}
#evan-card {
  position: relative;
  top: -20vh;
  padding-left: 58vw;
}

.card-body img {
  position: relative;
  border-radius: 100%;
  top: -9vh;

}
.card {
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  border-radius: 0.5rem;
}
.date {
  position: relative;
  white-space: nowrap;
  color: gray;
  top: 2vh;
  font-size: 0.8vw;
}
.border-circle {
  position: relative;
  width: 4.2rem;
  height: 4.2rem;
  left: 0.5vw;
  top: 0.8vh;
  border-radius: 100%;
  background-color: rgba(255, 181, 72, 1);
}
.twitter {
  position: relative;
  left: 18.3vw;
  margin-top: -5.6vh;
}
.card-title h4 {
  position: relative;
  padding-left: 6vw;
  margin: 0;
  top: -17.4vh;
  text-transform: capitalize;
}
.card-title p {
  position: relative;
  padding-left: 6vw;
  top: -17.4vh;
  color: gray;
}
.card-text {
  position: relative;
  top: -17vh;
}
#text-testi {
  position: relative;
  top: 1.3vh;
}
.card-text2 {
  color: rgba(255, 255, 255, 1);
}
#jade {
  position: relative;
  border-radius: 100%;
  width: 4.2rem;
  height: 4.2rem;
}
#jade-card {
  position: relative;
  top: -17vh;
  padding-left: 45vw;
}
.date2 {
  position: relative;
  white-space: nowrap;
  color: gray;
  top: 6vh;
  left: -7.7vw;
  font-size: 0.8vw;
}
#aaron {
  position: relative;
  border-radius: 100%;
  width: 4.2rem;
  height: 4.2rem;
}
#aaron-card {
  position: relative;
  top: -14vh;
  padding-left: 52vw;
}
.date3 {
  position: relative;
  white-space: nowrap;
  color: gray;
  top: 6vh;
  left: -6.7vw;
  font-size: 0.8vw;
}

/* New Letter */
#news-img {
  position: relative;
  width: 100%;
  height: 110vh;
  background-color: rgb(8, 10, 11);
}
.pictures img {
  position: relative;
  width: 23rem;
  height: 30rem;
  top: 10vh;
  left: 9.2vw;
}
.kotak {
  position: absolute;
  background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080a0b00 99.74%);
  width: 23rem;
  height: 30rem;
  top: 10vh;
  left: 10vw;
}
hr {
  position: relative;
  top: -30vh;
  color: white;
  left: 8vw;
}
.footer1 {
  position: relative;
  color: white;
  top: -30vh;
  left: 8vw;
  margin: 0;
}
.footer2 {
  position: relative;
  color: white;
  top: -33vh;
  right: 6.5vw
}
.iconsosmed {
  position: relative;
  left: 5vw;
  padding-left: 3.5vw;
}
.text-news {
  position: relative;
  color: white;
  width: 14vw;
  font-size: 1.3vw;
  font-weight: 100;
  letter-spacing: 0.2vw;
  left: 43vw;
  top: -50vh;
}
.text-news h1 {
  position: relative;
  top: 1vh;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 3vw;
  letter-spacing: 0.7vw;
}
.text-news2 {
  position: relative;
  color: white;
  width: 41vw;
  top: -48vh;
  left: 43vw;
  font-size: 1.3vw;
  font-weight: 200;
  letter-spacing: normal;
}
.btn-email {
  position: relative;
  background-color: rgba(255, 255, 255, 0.08);
  text-transform: none;
  top: -46vh;
  left: 43vw;
  width: 21vw;
  height: 8vh;
}
.btn-email span {
  position: relative;
  font-weight: 100;
  font-size: 1vw;
  left: -5.6vw;
  top: -0.8vh;
}
.btn-email p {
  position: relative;
  color: rgba(255, 181, 72, 1);
  font-weight: 200;
  font-size: 1.2vw;
  left: -3.8vw;
  top: -1vh;

}
.btn-subscribe {
  position: relative;
  background-color: rgba(255, 181, 72, 1);
  text-transform: initial;
  top: -46vh;
  left: 43vw;
  width: 18.7vw;
  height: 8vh;
}
.btn-subscribe span {
  position: relative;
  top: 1vh;
  text-align: center;
}
.info {
  position: relative;
  color: white;
  top: -30vh;
  text-transform: uppercase;
  font-weight: 500;
}
.subinfo1 {
  position: relative;
  margin-left: 20vw;
}
.subinfo2 {
  position: relative;
  margin-left: 4vw;
}
.subinfo3 {
  position: relative;
  margin-left: 4vw;
}
.subinfo4 {
  position: relative;
  margin-left: 4vw;
}
.subinfo5 {
  position: relative;
  margin-left: 4vw;
}
/* Akhir New Letter */

/* Image */
#banner-img {
  background-image: url(assets/assets/main-bg.jpg);
  background-size: cover;
}
#games-img {
  background-image: url(assets/assets/the-games-bg.jpg);
  background-size: cover;
}
#features-img {
  background-image: url(assets/assets/features.jpg);
  background-size: cover;
}
#requirements-img {
  background-image: url(assets/assets/requirements.png);
  background-size: cover;
}
#topscore-img {
  background-image: url(assets/assets/top-score-bg.png);
  background-size: cover;
}

/* Mobile Ver */ 
 @media (min-width: 400px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .title {
    margin-top: 200px;
    margin-left: 2rem;
    color: white;
    text-transform: capitalize;
  }

  .banner {
    width: 100%;
    height: 100vh;
  }
  .banner .content h2 {
    position: relative;
    text-align: center;
  }
  .bottom-box{
    text-align: center;
    position: relative;
    top: 28vh;
  
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .link-text{
    top: 20rem;
    color: white;
    font-size: 1vw;
    font-weight: bold;
  }
  
  .link-icon{
    margin-top: 0vh;
  }
  .games {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .features {
    width: 100%;
    height: 100vh;
  }

  .contentfeat {
    position: relative;
    max-width: 100%;
    top: 20vh;
    margin-left: -30vw;
    
  }
  .features .contentfeat h6 {
    position: relative;
    color: white;
    font-size: 3vw;
    /* margin-right: 350px; */
    white-space: nowrap;
  }
  .features .contentfeat h1 {
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
  }
  .contentfeat2 h6 {
    position: relative;
    left: 7vw;
    top: -12vh;
  }
  .contentfeat2 p {
    position: relative;
    top: -12vh;
    left: 7vw;
  }
}